################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiddlewareDemo/obj
/MiddlewareDemo/bin/Debug/net6.0
/.vs
